<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 id="home-h1">Bankr</h1>
          <h3 id="home-h3">The hippest way to manage your money.<br><br>
            <%= link_to "Get Started", records_path, class: "btn-custom" %>
          </h3>
      </div>
    </div>
  </div>
</div>
