<footer class="footer">

<div class="container">

  <div class="text-center center-block">
     <i id="social-em" class="fa fa-envelope-open-o fa-3x social" aria-hidden="true"></i>
     <i id="social-fb" class="fa fa-facebook fa-3x social" aria-hidden="true"></i>
     <i id="social-ig" class="fa fa-instagram fa-3x social" aria-hidden="true"></i>
     <i id="social-tw" class="fa fa-twitter fa-3x social" aria-hidden="true"></i>
     <i id="social-md" class="fa fa-medium fa-3x social" aria-hidden="true"></i>
  </div>
</div>
<br><br>
</footer>
